@media only screen and (min-width: 600px)
{
    .respo{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

    }
    .bord {
        width: 400px;
        min-height: 400px;
        margin-top: 15px;
        
    }
    .cell{
    height: 130px;
    width: 130px;
    font-size: 5em;
    }
    .banner{
        width: 730px;
        font-size: 1.5em;
        border-bottom: black 1px solid;
        
       
    }
    .turen {
        float: right; 
      }
      .restart {
        float: left;
        font-size: .7em;
        
      }
    .modal {
        padding-top: 200px;
    }
    .modal-content {
        width: 60%;
    }
    .modal-content h1{
        font-size: 3em;
    }
    .playmore{
        font-size: 17px;
    }
    .result{
        padding-right: 20px;
        font-size: 1em;
       
       

    }
}
