html {
    box-sizing: border-box;
}

/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



.container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

.bord{
        width: 500px;
        min-height: 500px;
        margin: 0 0 3em;
        padding: 32px;
       
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; 
        box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);  
}
 .cell
{
    height: 160px;
    width: 160px;
    background: #2e3d49;
    border:black 1px solid;
    font-size: 5em;
    color:  white ;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*//////////// model //////*/

.modal {
  display: none;
  position: fixed;
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  /* background: #ffffff url('../img/geometry2.png'); */
  
}

.modal-content {
  color: #363636;
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  font-weight: lighter;
  width: 60%;
  text-align: center;

}
.modal-content h1
{
  font-weight: bold;
}
.playmore
{
  background-color:#32a8a6;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 40px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
}